// .carttwebpage .mycart{
//     text-align: center;
   
// }


.carttwebpage{
  text-align: center;
  margin-top: 30vh;

}

.card-table{
  position: relative;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
}