.maincontent {

    border: 1px solid black;
    height: 35vw;
    width: 26vw;
    // margin: 40px;
    margin-left: 34vw;
    background: linear-gradient(45deg, #858889, #73B7EE);
    // opacity: 70%;

}




.maincontent .container h3 {
    // padding-left: 3vw;
    position: relative;
    margin: 2vw;
    padding-left: 2vw;

}

.maincontent .head {
    border: 1px solid black;
    margin: 2vw;
    height: 22vw;
    border-radius: 15px;
    margin-top: 10px;
    // background-color: whitesmoke;
    // opacity: 30%;
}

// .maincontent .icon {
//     display: flex;

//     flex-wrap: wrap flex-direction: columns;
//     position: relative;
//     bottom: 23vw;
//     left: 2vw;
//     width: 1vw;
//     height: 1vw;
//     margin: 20px;
//     border-radius: 50%;


// }